@{
    ViewBag.Title = "About";
}

<br />
 
<div class="content">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="card card-user">
				<div class="image">
					<img src="../assets/img//bg5.jpg" alt="...">
				</div>
				<div class="card-body">
					<div class="author">
						<a href="#">
							<img class="avatar border-gray" src="../assets/img//shakeel.jpg" alt="...">
							<h5 class="title">Muhammad Shakeel</h5>
						</a>
						<p class="description">
							Microsoft Certified Professional
						</p>
					</div>
					<p class="description text-center">
						Muhammad Shakeel is professional software developer. He developed many challenging applications including business solutions and ecommerce applications.
						<br />
						According to reasonable demand of software developement he accept only professional projects.
					</p>
				</div>
				 
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
