@{
	ViewBag.Title = "Contact";
}

<style>
	.img{

		width:30px;
		height:30px;
	}
</style>

<br />

<div class="content">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="card card-user">
				<div class="image">
					<img src="../assets/img//bg5.jpg" alt="...">
				</div>
				<div class="card-body">
					<div class="author">
						<a href="#">
							<img class="avatar border-gray" src="../assets/img//shakeel.jpg" alt="...">
							<h5 class="title">Muhammad Shakeel</h5>
						</a>
						<p class="description">
							Microsoft Certified Professional
						</p>
					</div>
					<p class="description text-center">
						<div class="row">
							<div class="col-md-12">
								<h5 class="text-muted"> 0346-947-6404</h5>
							</div>
							<hr>

							<div class="col-md-12">
								<h5 class="text-muted"> sshakeel404@@gmail.com</h5>
							</div>
							<hr>

							<div class="col-md-12">
								<h5 class="text-muted">sshakeel404@@hotmail.com</h5>
							</div>
							<hr>

						</div>
					</p>
				</div> 
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
